[Unit]
Description=Watch and warn about failed SIP registration
Wants=network.target
Requires=postfix.service
After=network.target postfix.service

[Service]
Type=simple
ExecStart=/usr/bin/bash /usr/local/bin/regwatch.sh

[Install]
WantedBy=multi-user.target
