[Unit]
Description=Watch and warn about failed SIP registration
Wants=network.target
Requires=postfix.service
After=network.target postfix.service regwatch-action.socket

[Service]
Type=simple
ExecStart=/usr/bin/bash /usr/local/bin/regwatch.sh 127.0.0.1:13000

[Install]
WantedBy=multi-user.target
