[Unit]
Description=Watch and warn about expired SIP registration
Wants=network.target
Requires=postfix.service
After=network.target postfix.service

[Service]
Type=forking
User=hylafax
Group=hylafax
ExecStart=/usr/bin/bash /usr/local/bin/regwatch.sh

[Install]
WantedBy=multi-user.target
